In [27]:
import pandas as pd
from numpy import arange as np

In [2]:
data = pd.read_csv(r"C:\Users\elgeokareem\Desktop\William\Datasets\1. athlete_events.csv")
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [3]:
#1. How old were the youngest male and female participants of the 1996 Olympics?

#Se separa en masculino y femenino
data_male = data[data["Sex"]=="M"].copy()
data_female = data[data["Sex"]=="F"].copy()

age_m = data_male[data_male["Year"]==1996].sort_values(by="Age").iloc[0,3]
age_f = data_female[data_female["Year"]==1996].sort_values(by="Age").iloc[0,3]
(age_m,age_f)

(14.0, 12.0)

In [4]:
#2. What was the percentage of male gymnasts among all the male participants of the 2000 
#Olympics? Round the answer to the first decimal.
#Cuidado con los duplicados.

a = len(set(data_male[(data_male["Year"]==2000) & (data_male["Sport"] == "Gymnastics")]["Name"]))
b = len(set(data_male[data_male["Year"] == 2000]["Name"]))
round(a/b*100,1)

1.5

In [25]:
#3. What are the mean and standard deviation of height for female basketball 
#players participated in the 2000 Olympics? Round the answer to the first decimal.

a = data_female[(data_female["Year"]==2000)&(data_female["Sport"]=="Basketball")]["Height"].mean()
b = data_female[(data_female["Year"]==2000)&(data_female["Sport"]=="Basketball")]["Height"].std()
(a,b) #(182.38732394366198, 9.139462087892174)

(182.38732394366198, 9.139462087892174)

In [6]:
#4. Find a sportsperson participated in the 2002 Olympics, with the highest weight 
#among other participants of the same Olympics. What sport did he or she do?

data[data["Year"]==2002].sort_values(by="Weight", ascending=False).iloc[0,12]

'Bobsleigh'

In [7]:
#5. How many times did Pawe Abratkiewicz participate in the Olympics held in 
#different years?

set(data[data["Name"]=="Pawe Abratkiewicz"]["Year"]) #3 Veces

{1992, 1998, 2002}

In [8]:
#6. How many silver medals in tennis did Australia win at the 2000 Olympics?

len(data[(data["Team"]=="Australia") & (data["Year"]==2000) & (data["Medal"]=="Silver") & 
         (data["Sport"]=="Tennis")])

2

In [61]:
#7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? 
#Do not consider NaN values in Medal column.

swi = data[(data["Team"]=="Switzerland") & (data["Year"]==2016)]["Medal"]
ser = data[(data["Team"]=="Serbia") & (data["Year"]==2016)]["Medal"]

(swi.count(), ser.count()) #Yes

(11, 54)

In [95]:
#8. What age category did the fewest and the most participants of the 
#2014 Olympics belong to?

dist_edad = data[data['Year'] == 2014]["Age"].value_counts().sort_index()

#[45-55] and [25-35)
print("Para: [45-55] and [25-35)", dist_edad[45:55].sum(), dist_edad[25:34].sum())
#[45-55] and [15-25)
print("Para: [45-55] and [15-25)", dist_edad[45:55].sum(), dist_edad[15:24].sum())
#[35-45] and [25-35)
print("Para: [35-45] and [25-35)", dist_edad[35:45].sum(), dist_edad[25:34].sum())
#[45-55] and [35-45)
print("Para: [45-55] and [35-45)", dist_edad[45:55].sum(), dist_edad[35:44].sum())

Para: [45-55] and [25-35) 5 2594
Para: [45-55] and [15-25) 5 2027
Para: [35-45] and [25-35) 266 2594
Para: [45-55] and [35-45) 5 265

In [11]:
#9. Is it true that there were Summer Olympics held in Lake Placid? 
#Is it true that there were Winter Olympics held in Sankt Moritz? 

data[(data["City"]=="Lake Placid") & (data["Season"]=="Summer")] #No
data[(data["City"]=="Sankt Moritz") & (data["Season"]=="Winter")] #Si
print("No, Si")

No, Si

In [12]:
#10. What is the absolute difference between the number of unique sports 
#at the 1995 Olympics and 2016 Olympics?

a = len(set(data[data["Year"]==2015]["Sport"]))
b = len(set(data[data["Year"]==2016]["Sport"]))
abs(a-b)

34